* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #0a143a;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 25px;
}
