/* .content__wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
} */

.page__content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.content__cards-title {
    font-size: 24px;
    margin-bottom: 25px;
}

.content__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.content__card {
    max-width: 264px;
    margin-right: 30px;
    flex: 0 0 calc(33.333% - 20px);
}

.content__card:nth-child(3n) {
    margin-right: 0;
}

.content__card-image {
    border-radius: 10px;
    display: block;
    margin-bottom: 12px;
}

.content__card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256eeb;
    margin-bottom: 5px;
}

.content__card-like {}

.content__card-price {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.content__card-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
}

.content__card-link .content__card-text:first-of-type {
    margin-bottom: 4px;
}
